<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pizzeria</title>

<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>

    <div class="container">
        <h1>Pizzas:</h1>
    <ul>
        <!-- Iterate through the list of pizzas -->
        <li th:each="pizza : ${pizzas}" th:object="${pizza}">
            <a th:href="@{/pizza/{id}(id=*{id})}">
                <!-- Display pizza details -->
                <p th:text="${pizza.name}"></p>
                <p th:text="${pizza.description}"></p>
                <p th:text="${pizza.price}"></p>
                <img th:src="${pizza.img}" alt="Pizza Image"/>
            </a>
        </li>
    </ul>
    </div>


<!-- Bootstrap Bundle with Popper -->
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>